body{
    background: url("images/Assignments/background.jpg");
    background-size: cover;
    height: 180vh;
}

#header {
    position: absolute;
    font-size: 30px;
    color: white;
    margin: auto;
    left: 45%;
    top: 10px;
    text-shadow: 4px 4px 5px darkgrey;
}

#spa {
    position: absolute;
    width: 90%;
    height: 40vh;
    left: 5vw;
    display: grid;
    margin-top: 15vh;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

#spa>a{
    position: relative;
    background-size: cover;
}
#s1 {
    background-image: url("images/Web/S1.png");
}